
<body>

<%# ヘッダー %>
<header>
    <div class="container">
        <div class="header-left">
            <h1 class="header-logo"><i class="fas fa-chess"></i>
                 hanawa.com</h1>
          
        </div>

        <div class="header-right">  
            <a>profile</a>
            <a>biography</a>
            <a>report</a>
            <a>product</a>
        </div>
    </div>
</header>

<%# メイン %>
<main>
<%# トップラッパー %>
 <div class="top-wrapper">
    <div class="container">
        <div class="wrapper-text">
            <h1>最短で目指せエンジニア！</h1>
            <h1>"花輪の”0から始める独学プログラミング</h1>
            <p>このページはテストページです</p>
            <p>Ruby/Rails/git/html/aws/</p>
        </div>
    
        <div class="btn-wrapper">
            <a class="btn btnA"><i class="fas fa-chess-king"></i>
            ButtonA</a>
            <a class="btn btnB"><i class="fas fa-chess-rook"></i>
            ButtonB</a>
            <a class="btn btnC"><i class="fas fa-chess-knight"></i>
            ButtonC</a>
            <a class="btn btnD"><i class="fas fa-chess-pawn"></i>
            ButtonC</a>
        </div>
    
    </div>
 </div>  

<%# メインテキスト %>
        <div class="text-box">
            <h1>今日食べたごはん</h1>
            <p>納豆巻きと卵焼き。とってもおいしかったです</p>
            <h1>昨日食べたごはん</h1>
            <p>ハンバーグとステーキ。とってもおいしかったです</p>
            <h1>明日食べるごはん</h1>
            <p>オムライス。楽しみです</p>
            <h1>明後日食べるごはん</h1>
            <p>エビフライ！とっても楽しみです</p>
        </div>
</main>


<%# フッター %>
<footer>
    <div class="footer">
        <div class="footer-left">
            <div class="footer-logo">
                <h1>
                <i class="fas fa-chess"></i>hanawa.com
                </h1>
                <div class="area1"></div>
                <p>@2021-2021 hanawa.</p>
             </div>
        </div>

        <div class="footer-list">
            <div class="footer-menulist">
                <p>profile</p>
                <p>biography</p>
                <p>report</p>
                <p>product</p>
            </div>

            <div class="footer-btnlist">   
                <p>ButtonA</p>
                <p>ButtonB</p>
                <p>ButtonC</p>
                <p>ButtonD</p>
            </div>
        </div>
    </div>
</footer>

</body>