
<body>
<%# ヘッダー %>
<header>
    <div class="container">
        <div class="header-left">
            <h1 class="header-logo"><i class="fas fa-chess"></i>
                 hanawa.com</h1>
          
        </div>

        <div class="header-right">  
            <a>menuA</a>
            <a>menuB</a>
            <a>menuC</a>
            <a>menuD</a>
        </div>
    </div>
</header>

<%# メイン %>
<main>
<%# トップラッパー %>
 <div class="top-wrapper">
    <div class="container">
        <div class="wrapper-text">
            <h1>最短で目指せエンジニア！</h1>
            <h1>"花輪の”0から始める独学プログラミング</h1>
            <p>このページはテストページです</p>
            <p>Ruby/Rails/git/html/aws/</p>
        </div>
    
        <div class="btn-wrapper">
            <a class="btn btnA"><i class="fas fa-chess-king"></i>
            bottonA</a>
            <a class="btn btnB"><i class="fas fa-chess-rook"></i>
            bottonB</a>
            <a class="btn btnC"><i class="fas fa-chess-knight"></i>
            BottonC</a>
            <a class="btn btnD"><i class="fas fa-chess-pawn"></i>
            BottonC</a>
        </div>
    
    </div>
 </div>  
<%# メインテキスト %>
    <div class="main-text">
        <div class="text-box">
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
            <h1>メインコンテンツ</h1>
        </div>
    </div>
</main>

<%# フッター %>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <h1>
            <i class="fas fa-chess"></i>hanawa.com
            </h1>
        </div>
    
        <div class="footer-menulist">
            <p>menuA</p>
            <p>menuB</p>
            <p>menuC</p>
            <p>menuD</p>
        </div>

        <div class="footer-btnlist">   
            <p>bottonA</p>
            <p>bottonB</p>
            <p>bottonC</p>
            <p>bottonD</p>
        </div>
    </div>
</footer>

</body>