// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
}

// ここからヘッダー
header {
    color: snow;
    background-color: rgb(56, 54, 34);
    height: 60px;
    width: 100%;

    position: fixed;
    top: 0px;
    z-index: 10;
  }

.header-logo {
  
  font-size: 25px;
  margin: 0px;
  padding: 11px 38px;
  float:left;
}

.header-right {
  float: right;
  font-size: 15px;
  margin: 0px ;
  padding: 17px 60px;
}

.header-right a {
  margin: 0px 12px;
  padding: 0px 20px;
  color: rgb(56, 54, 34);
  background-color:snow;
  border-radius: 4px;
  letter-spacing: 2px;
}

.header-right a:hover  {
  background-color: tan;
}

// ここからメイン
main {
  height: auto;
  background-color: tan;

}

// トップラッパー
.top-wrapper {
    color: snow;
    height: auto;
    padding: 250px 38px 50px ;
    background-image: url(https://media.magic.wizards.com/images/wallpaper/Weatherlight_DAR_1920x1080_Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    // text-align:center;
  }

.wrapper-text {
    text-shadow:0 5px 5px black;
 }

.container {
   
  }

.top-wrapper h1{
    opacity: 0.9;
    font-size:40px;
    letter-spacing: 5px;
    margin: 0px;
  }
.top-wrapper p{
    opacity: 0.8;
    letter-spacing: 2px;
    margin: 0px;
  }

// ボタンについて
.btn-wrapper {
    margin: 20px 0px;
  }
.btn{
   font-size: 13px;
   padding: 8px 16px; 
   margin: 2px 5px;
   display: inline-block;
   opacity: 0.8;
   border-radius: 8px;
}
.btn:hover {
    opacity: 1;
  }
.btnA {
    background-color: orchid;
}
.btnB {
    background-color: palegreen;
}
.btnC {
    background-color: royalblue;
}
.btnD {
  background-color: sandybrown;
}
.fas {
  margin-right: 7px;
}

// メインテキスト
.main-text {
  background-color: snow;
  margin: 0px 250px;
}

.text-box {
}

.text-box h1 {
  font-size: 20px;
  margin: 0px;
}



// ここからヘッダー
footer {
    background-color: rgb(56, 54, 34);
    height: 200px;
    padding: 20px 38px;
    color: snow;
  }
.footer-logo h1 {
    float:left;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 25px;
}

.footer-menulist {
  float:right;
  font-size: 15px;
  // background-color: fuchsia;
  padding-left: 35px;
}
.footer-menulist p {
  margin:13px 70px 0px 0px ;
  padding: 2px 12px ;
}
.footer-menulist p:hover  {
  color: rgb(56, 54, 34);
  background-color: snow;
  border-radius: 4px;
}
.footer-btnlist {
  float:right;
  font-size: 15px;
  // background-color: cyan;
  padding-left: 40px;
}
.footer-btnlist p {
  margin: 13px 80px 0px 0px ;
  padding: 2px 12px ;
}
.footer-btnlist p:hover  {
  color: rgb(56, 54, 34);
  background-color: snow;
  border-radius: 4px;
}